__pycache__
*.so
build
.coverage_*
*.egg-info
*~
slurm*
logs
.vscode
local/
.gitmodules
wandb/
onelogger.log
onelogger.err
.venv
test_cases/
runs/
G-CRSPCIE/*.o
G-CRSPCIE/*.so
G-CRSPCIE/*.out
G-CRSPCIE/*.log